body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 10px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    font-size: 18px;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10%;
    font-weight: bold;
}

.right {
    margin-right: 10%;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.hero {
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
}

.top-left {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 33%;
    gap: 10px;
}

.top-right {
    margin-right: 10%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    padding: 4px;
    width: 90px;
    margin-top: 10px;
}